        
  
    <div>
      <button type="submit" class="raise"><a class="me-auto" href="/create-list">Create list</a></button>
    </div>
          

<!-- TODO: Colocar las cards en columnas de 3 -->

{{#each lists as |list|}}
<div class="container d-flex flex-wrap mb-3" style="width: 30rem;">
  <div class="card">
    <div class="card-header">
      <!-- TODO: Foto subida por el usuario (¿Cómo?) (Preguntar a Nico) <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" /> -->
    </div>
    <div class="card-body">
        <div class="">
            <h3>Title: {{list.title}}</h3>
            <button type="submit" class="raise"><a class="me-auto" href="/lists/{{list.id}}">Detail</a></button>
            <button type="submit" class="raise"><a class="me-auto ml-5" href="/lists/{{list.id}}/delete">Delete</a></button>
        </div>
      </div>
    </div>
  </div>
{{/each}}