<form method="POST" action="/establishments/{{establishmentId}}/add-to-list">
    <select name="list">
        {{#each lists as |list|}}
            <option value="{{list.id}}">{{list.title}}</option>
        {{/each}}
    </select>

    <button class="raise" type="submit">Add</button>
</form>