FEED ESTABLISHMENTS
<div>

     <button type="submit" class="raise"><a href="/create-establishment">Create establishment</a></button>

</div>

<ul class="list-group">
    {{#each establishments as |establishment|}}
    <li class="list-group-item d-flex">
        <h1>{{establishment.name}}</h1>

        <div class="box">
            <a class="fa fa-plus" href="/lists/:listId"></a>
        </div>
        <div id="popup1" class="overlay">
            <div class="popup">
                {{#each lists as |list|}}
                    <p>{{list.title}}</p>
                {{/each}}
                <a class="close" href="/establishments">&times;</a>
            </div>
        </div>
    </li>
    {{/each}}
</ul>