FEED ESTABLISHMENTS
<div>

     <button type="submit" class="raise"><a href="/create-establishment">Create establishment</a></button>

</div>

<ul class="list-group">
    {{#each establishments as |establishment|}}
    <li class="list-group-item d-flex">

        <a class="me-auto" href="/establishments/{{establishment.id}}">{{establishment.name}}</a>
        <div class="box">
            <a class="fa fa-plus" href="/establishments/{{establishment.id}}/add-to-list"></a>
        </div>
    </li>
    {{/each}}
</ul>