
<div>
     <button type="submit" class="raise mb-3"><a class="link" href="/create-establishment">Create establishment</a></button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 d-flex flex-wrap shadow-5-strong">
    {{#each establishments as |establishment|}}
    {{!-- <!-- TODO: Blur effect: "img-hover-zoom--blur overflow-hidden w-full--m" --> --}}
    <div class="col establishments-card-background">
        <div class="card establishments-card h-100">
        <img src="{{establishment.pictures}}" class="card-img-establishments"/>
        <div class="card-body">
            <h3 class="card-title">{{establishment.name}}</h3>

        </div>
        <div class="card-footer d-grid">
            <!-- <small class="text-muted">Last updated 3 mins ago</small>  TODO: Formula fecha con Dayjs o Cloudinary -->
            <button name="info-button" type="submit" class="raise btn btn-block"><a class="link" href="/establishments/{{establishment.id}}">Info</a></button>
        </div>
        </div>
    </div>
    {{/each}}
</div>