 /** BOTÓN RISE */

 .link {
  text-decoration: none;
  color: black;
 }

 .card-img-establishments {
  height: 200px;
  object-fit: cover;
 }

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
  transition: 0.15s ease-in-out;
  border-radius: 15px;
}

.profile-photo {
  border-radius: 50%;
}

button {
  color: white;
  background: white;
  box-shadow: 10px 5px 5px gray;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

code { 
  color: #e4cb58;
  font: inherit;
}

/** FIN - RISE */

.background-final {
  background: linear-gradient(to bottom, #190120, #200b2c, #2a1039, #341547, #3f1a55, #451b61, #4b1c6d, #511d79, #531a86, #541793, #5413a1, #530faf);
  background-repeat: no-repeat;
}

.background-config {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 2rem;
}

#footer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 2.5rem;
}

/** INICIO - CSS PROFILE */

.container-profile {
  max-width: 1250px;
  margin: 30px auto 30px;
  padding: 0 !important;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.number-stat {
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #aaa;
}

.desc-stat {
  margin-top: -15px;
  font-size: 10pt;
  color: #bbb;
}

/** FIN - CSS PROFILE*/

/** */
.card-img-establishments {
  border-radius: 5px 5px 0 0;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  border-bottom: none;
  overflow: hidden
}

.card-list {
  border-radius: 25px;
}

/* */
.box {
  position: relative;
}

.input {
  padding: 10px;
  width: 100px;
  height: 80px;
  background: none;
  border: 4px solid whitesmoke;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  color: white;
  outline: none;
  transition: .5s;
}

.box:hover input {
  width: 50vw;
  background: #3b3640;
  border-radius: 10px;
}

.box i {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ffd52d;
  transition: .2s;
}

.box:hover i {
  opacity: 0;
  z-index: -1;
}

/** */

.add-button {
  color: white;
  background: white;
  box-shadow: 10px 5px 5px gray;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.add-button:hover {
  background-color: #ffffff;
}



/* The Transformation */

.img-hover-zoom--blur img {
  transition: transform 0.5s, filter 1s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);
}

.img-hover-zoom--blur:hover img {
  filter: blur(0);
  transform: scale(1);
}

.img-hover-zoom {
  background: #222f3e;
  height: 200px;
  overflow: hidden;
  border-radius: 0.5em;
  border: 5px solid rgba(255, 255, 255, .05);
}

/** E-CARD - LOGIN */

.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 540px;
  height: 630px;
  border-radius: 16px;
  overflow: hidden;
  z-index: -1;
}

.wave {
  position: absolute;
  width: 540px;
  height: 850px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  z-index: -1;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.login-form {
  z-index: 1;
}


/* OPTION 1 PROFILE CARD

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}
.avatar {
  object-fit:cover;
}
*/

.body1 {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  font-size:large;
  background: transparent;
}

.box2 {
  width: 500px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  background: #ededed;
}

.content1 {
  margin: 15px 2px;
}

.box1 {
  margin-top: 10px;
}


.image1 img {
  height: auto;
  width: 200px;
  border-radius: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.name {
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: 1px;
}

.job_title {
  font-size: 1.25em;
  font-weight: bolder;
  color: gray;
  margin-top: -2px;
}

.job_discription {
  font-size: 1.0em;
  color: gray;
  margin: 10px 30px 20px;
}

.icons {
  margin: 0px 30px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

.icons button {
  width: fit-content;
  height: fit-content;
  border: none;
  font-size: 1em;
}

ion-icon:hover {
  color: #58a497;
  transition: 0.5s;
}

.button .message {
  background: #ededed;
  border: 2px solid #000;
}

.button .connect {
  background-color: #000;
  color: #ededed;
  border: none;
}
button.connect:hover {
  letter-spacing: 1px;
  transition: 0.5s;
}
button.message:hover {
  letter-spacing: 1px;
  transition: 0.5s;
  background: rgba(88, 164, 151, 0.5);
}
/* Content-1:End */

table, th, td {
  border-radius: 10px;
}