<div class="container d-flex justify-content-center">
    <div class="card d-flex" style="background-color: transparent">
        <img src="/images/error-403.jpg" alt="Error 403" width="150%" height="150%">
        <!--<p>¡NOOO PUEDES PASAAAAAAR!</p>-->
    </div>
</div>