
<div class="container">

   <div width="100%">
        <div class="container mb-2">
            <h1 class="text-white text-center">Find some of the best restaurants and create lists with your recommendations</h1>
        </div>
        <div class="box">
                <form class="search" action="/establishments">
                    <input placeholder="Search" type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
                </form>
        </div>
   </div>
</div>

