
<div class="container">

   <div width="100%">
    
        <div class="container mt-3 mb-2">
            <h1 class="text-white text-center">Find some of the best restaurants and create lists with your recommendations</h1>
        </div>
        <div class="box d-flex justify-content-center mt-5">
                <form class="search" action="/establishments">
                    <input placeholder="Search" type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
                </form>
        </div>
        <div class="d-flex box justify-content-center mt-5">
            <strong><h1 class="text-white">CARD CON ESTABLECIMIENTOS ALEATORIOS</h1></strong>
        </div>

   </div>
</div>

