
<div class="container">

   <div width="100%">
        <div class="container mb-2">
            <h1 color="special.white" data-test="homepage-tagline" class="css-prxf80 e15b0ofs1">Descubre los mejores restaurantes y crea listas con tus recomendaciones</h1>
        </div>
        <form class="search-button input-group rounded mt-2" action="/establishments">
            <button class="raise" type="submit"><i class="fa fa-search"></i></button>
            <input type="search" class="form-control rounded" placeholder="Tipo de cocina, nombre del restaurante..." aria-label="Search" aria-describedby="search-addon" />
        </form>
   </div>

</div>